.find_job {
    grid-area: find_job;
    display: flex;
}

.contacts {
    grid-area: contacts;
    padding: 5px;
}

.about {
    font-size: 1.3rem;
}

.contacts {
    display: grid;
    grid-template: 1fr / 50% 50%;
}

.contact {
    padding: 10px;
}

.error {
    color: red;
}