.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 45px;
  height: 35px;
}

.title {
  color: blueviolet;
}

.info_block {
  display: flex;
}

.login_block a {
  text-decoration: none;
}
.login_block a:hover {
  color: rgb(76, 27, 121);
}

