.profile_info { 
  display: grid;
  grid-template-areas: 
  'main find_job'
  'about contacts';
  grid-template-columns: 1fr 2fr;
}

.main_info {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.find_job {
  grid-area: find_job;
  display: flex;
}
.find_job img {
  width: 128px;
  height: 128px;
  padding: 5px;
}

.contacts_wrap {
  padding: 5px;
}

.contacts {
  grid-area: contacts;
  display: grid;
  grid-template: 1fr / 50% 50%;
}

.contacts div{
  padding: 2.5px;
}
  
.avatar img{
  width: 200px;
  height: 128px;
}

.about {
  font-size: 1.3rem;
  grid-area: about;
}



