.login_form_wrap {
  /* background: #e3e3e3; */
}

.login_form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  }

.login_form button {
  margin: 0 auto;
  font-size: 1.1rem;
  width: 40%;
}

.login_form input {
  font-size: 1.1rem;
}

.login_form span {
  font-size: 1.1rem;
}

.title {
  text-align: center;
}

.input_wrap {
  display: flex;
  padding: 5px;
}

.input_wrap input{
  width: 200px;
}
.input_wrap label{
  width: 100px;
  margin-right: 5px;
}